:root {
    --light-grey: #f5f6f7;
    --dark-blue: #0a0a23;
    --fcc-blue: #1b1b32;
    --light-yellow: #fecc4c;
    --dark-yellow: #feac32;
    --light-pink: #ffadad;
    --dark-red: #850000;
    --light-green: #acd157;
  }

  body {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-size: 18px;
    background-color: var(--fcc-blue);
    color: var(--light-grey);
  }

  h1 {
    text-align: center;
  }
  
  .container {
    width: 90%;
    max-width: 680px;
  }

  h1,
  .container,
  .output {
    margin: 20px auto;
  }
  
  label,
  legend {
    font-weight: bold;
  }

  .input-container {
    display: flex;
    flex-direction: column;
  }
  
  button {
    outline: none;
    cursor: pointer;
    text-decoration: none;
    background-color: var(--light-yellow);
    border: 2px solid var(--dark-yellow);
  }
  